@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

body {
  font-family: "Merriweather", serif;
  margin: 40px;
  background: linear-gradient(to right, blue, pink);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

input {
  border: 2px solid black;
  width: 60%;
  height: 15px;
  padding: 15px;
  margin-right: 20px;
}

button {
  width: 30%;
  height: 50px;
  margin: 20px 0px 20px 0px;
  background: black;
  color: white;
  border: 3px solid black;
}

p {
  font-size: 25px;
}

img {
  border: 2px solid black;
  margin-top: 10px;
}
